
<li id="li_{{ content.id }}"{% if not ez_is_field_empty( content, "tag" ) %} class="{{ get_tag_color( ez_field_value( content,'tag' ).tags[0].id ) }}"{% endif %}>
    <a href="{{ path(location) }}">
        {{ ez_render_field( content, "main_image", { "template" : "CGFrontBundle::content_fields.html.twig" } ) }}
        <strong class="metaNote">
            {% if not ez_is_field_empty( content, "begin_date") %}
                {{ ez_render_field( content, "begin_date", { "template" : "CGFrontBundle::content_fields.html.twig", "container" : true } ) }}
            {% endif %}
            {% if not ez_is_field_empty( content, "end_date") %}
                - {{ ez_render_field( content, "end_date", { "template" : "CGFrontBundle::content_fields.html.twig", "container" : true } ) }}
            {% endif %}
            {% if not ez_is_field_empty( content, "tag" ) %}
                {% if not ez_is_field_empty( content, "begin_date") or not ez_is_field_empty( content, "end_date") %}
                    -
                {% endif %}
                {{ ez_field_value( content, "tag") }}
            {% endif %}
        </strong>
        <h3>{{ ez_field_value( content, "title" ) }}</h3>
    </a>
    {{ ez_render_field( content, "introduction", { "template" : "CGFrontBundle::content_fields.html.twig", "container" : true } ) }}

    <div class="btnToolbar">
        {% if showEdit %}
            <a href="/event/edit/{{ content.id }}" class="btnPic btnPicEdit">Modifier</a>
        {% endif %}
        {% if showDelete %}
            <button type="button" class="btnPic btnPicDelete deleteEvent" data-id="{{ content.id }}">Supprimer</button>
            <input type="hidden" id="ezxform_token" value="{{ csrf_token('legacy') }}">
        {% endif %}
    </div>
</li>